//@import "fonts";

$openSans : 'Open Sans', sans-serif;

.about-us {
  padding: 3.8em 0;
  box-sizing: border-box;
  background-color: #f7f7f7;

  &__wrap {
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
  }

  &__title {
    font-family: $openSans;
    text-transform: uppercase;
    font-size: 1.5em;
    color: #323232;
    font-weight: 700;
    margin-bottom: 1.9rem;
  }

  &__text {
    font-family: $openSans;
    font-weight: 300;
    color: #9f9f9f;
    line-height: 1.8em;
  }
}