section.about-us
    .about-us__wrap
        h2.about-us__title About us
        p.about-us__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus asperiores, aspernatur, atque consequatur debitis deserunt enim error facere illum in minus nam obcaecati placeat qui rerum suscipit voluptate? A accusantium ad alias culpa dolore doloribus ducimus est et excepturi magnam molestiae necessitatibus, nesciunt quibusdam recusandae reprehenderit rerum sint sit unde?