footer.footer
    .footer__wrap
        ul.footer__social-wrap
            li.footer__social-wrap__item
                a.footer__social-wrap__link(href='#')
                    i.fa.fa-facebook
            li.footer__social-wrap__item
                a.footer__social-wrap__link(href='#')
                    i.fa.fa-twitter
            li.footer__social-wrap__item
                a.footer__social-wrap__link(href='#')
                    i.fa.fa-google-plus
    script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
    script(src='../dist/js/script.min.js')