header.header(data-parallax="scroll" data-image-src="../dist/img/header-bg.png")
    div.header__wrap
        ul.header__social-wrap
            li.header__social-wrap__item
                a.header__social-wrap__link(href='#')
                    i.fa.fa-facebook
            li.header__social-wrap__item
                a.header__social-wrap__link(href='#')
                    i.fa.fa-twitter
            li.header__social-wrap__item
                a.header__social-wrap__link(href='#')
                    i.fa.fa-google-plus

        div.header__text-block
            h2.header__title
                span.
                    test
                |  project
            div.header__btn download