section.history
    .history__wrap
        .history__img
            img(src='../dist/img/history-img.png' alt='Image')
        .history__text-block
            h2.history__title Our history
            p.history__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur at dolore earum fugiat incidunt nisi nulla numquam praesentium quasi quibusdam, repellat reprehenderit unde vitae. Ab accusantium aperiam aspernatur corporis, eum facilis fuga fugit harum laudantium natus nihil nostrum, numquam quam rem unde voluptatem voluptatibus? Accusantium atque fugit hic iusto recusandae.  Ab accusantium aperiam aspernatur corporis, eum facilis fuga fugit harum laudantium natus nihil nostrum, numquam quam rem unde voluptatem voluptatibus?
            p.history__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur at dolore earum fugiat incidunt nisi nulla numquam praesentium quasi quibusdam, repellat reprehenderit unde vitae. Ab accusantium aperiam aspernatur corporis. Ab accusantium aperiam