section.skills
    .skills__wrap
        h2.skills__title Our Skills
        p.skills__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur at dolore earum fugiat incidunt nisi nulla numquam praesentium quasi quibusdam, repellat reprehenderit unde vitae. Aspernatur at dolore earum fugiat incidunt nisi nulla numquam praesentium quasi quibusdam.
        .skills__block-wrap
            .skills__block-wrap__item
                img(src='../dist/img/75%.png' alt='Item image')
            .skills__block-wrap__item
                img(src='../dist/img/80%.png' alt='Item image')
            .skills__block-wrap__item
                img(src='../dist/img/70%.png' alt='Item image')
            .skills__block-wrap__item
                img(src='../dist/img/85%.png' alt='Item image')