section.team
    .team__wrap
        h2.team__title Our team
        p.team__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur at dolore earum fugiat incidunt nisi nulla numquam praesentium quasi quibusdam, repellat reprehenderit unde vitae. Aspernatur at dolore earum fugiat incidunt nisi nulla numquam praesentium quasi quibusdam.
        .team__list
            .team__list__item
                .team__list__img
                    img(src='../dist/img/ceo.png' alt='Ceo')
                .team__list__block
                    p.team__list__name User #1
                    .team__list__wrap-soc
                        a.team__list__soc(href='#')
                            i.fa.fa-facebook
                        a.team__list__soc(href='#')
                            i.fa.fa-twitter
                p.team__list__position Ceo
            .team__list__item
                .team__list__img
                    img(src='../dist/img/marketing.png' alt='Marketing head')
                .team__list__block
                    p.team__list__name User #2
                    .team__list__wrap-soc
                        a.team__list__soc(href='#')
                            i.fa.fa-facebook
                        a.team__list__soc(href='#')
                            i.fa.fa-twitter
                p.team__list__position Marketing head
            .team__list__item
                .team__list__img
                    img(src='../dist/img/project-head.png' alt='Project head')
                .team__list__block
                    p.team__list__name User #3
                    .team__list__wrap-soc
                        a.team__list__soc(href='#')
                            i.fa.fa-facebook
                        a.team__list__soc(href='#')
                            i.fa.fa-twitter
                p.team__list__position Project head