doctype html
html
    include _head
    body
        include _header
        include _about
        include _history
        include _skills
        include _team
        include _contact
        include _footer